@import url("sanitize.css");
@import url("sanitize.css/forms.css");
@import url("sanitize.css/typography.css");
html,
body,
:root {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  height: 100%;
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .scrollable::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .scrollable {
    scrollbar-width: none; /* for Firefox */
    -ms-overflow-style: none; /* for Internet Explorer and Edge */
  }
  .scrollable::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}
